.infoResults {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px auto; /* Центрування по горизонталі */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 600px;
}